/*********************************************************
*   Project: ProjectX                                    *
*   Author: Omar Sainz                                   *
*   Spacing: 2                                           *
*   Index                                                *
*                                                        *
*   1. Global Styles                                     *
*   2. Navigation                                        *
*   3. Header                                            *
*   4. Page Structure                                    *
*   5. Headings                                          *
*   6. Text Styles                                       *
*   7. Forms                                             *
*   8. Extras                                            *
**********************************************************/

/*********************** How to Use? *********************
*   .selector {                                          *
*     ** Positioning **                                  *
*     position: absolute;                                *
*     z-index: 10;                                       *
*     top: 0;                                            *
*     right: 0;                                          *
*                                                        *
*     ** Display & Box Model **                          *
*     display: inline-block;                             *
*     overflow: hidden;                                  *
*     box-sizing: border-box;                            *
*     width: 100px;                                      *
*     height: 100px;                                     *
*     padding: 10px;                                     *
*     border: 10px solid #333;                           *
*     margin: 10px;                                      *
*                                                        *
*     ** Color **                                        *
*     background: #000;                                  *
*     color: #fff                                        *
*                                                        *
*     ** Text **                                         *
*     font-family: sans-serif;                           *
*     font-size: 16px;                                   *
*     line-height: 1.4;                                  *
*     text-align: right;                                 *
*                                                        *
*     ** Other **                                        *
*     cursor: pointer;                                   *
*   }                                                    *
*                                                        *
*********************************************************/

/*********************************************************
**                                                      **
**                 1. Global Style                      **
**                                                      **
*********************************************************/
@font-face {
  font-family: 'Geomanist-Regular';
  src: url('../fonts/Geomanist-Regular.eot');
  src: url('../fonts/Geomanist-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist-Regular.woff2') format('woff2'),
    url('../fonts/Geomanist-Regular.woff') format('woff'),
    url('../fonts/Geomanist-Regular.ttf') format('truetype'),
    url('../fonts/Geomanist-Regular.svg#Geomanist-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist-Bold';
  src: url('../fonts/Geomanist-Bold.eot');
  src: url('../fonts/Geomanist-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist-Bold.woff2') format('woff2'),
    url('../fonts/Geomanist-Bold.woff') format('woff'),
    url('../fonts/Geomanist-Bold.ttf') format('truetype'),
    url('../fonts/Geomanist-Bold.svg#Geomanist-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


body {
  /* Display & Box Model */
  border: 0;
  margin: 0;
  padding: 0;
  /* Text */
  font-family: 'Geomanist-Regular', sans-serif;
  font-size: 16px;
}


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Geomanist-Regular', Verdana, Arial;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.theme--darkGray {
  background: #e2e2e2;
}

.theme--lightGray {
  background: #ebebeb;
}

.theme--orange {
  background: #f28c31;
}

.theme--purple {
  background: #b81aa6;
}

.theme--purple__title {
  color: #b81aa6;
}

.theme--green {
  background: #00b28b;
}

.theme--orange__title {
  color: #f28c31;
}

.theme--green__title {
  color: #00b28b;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.no-padding {
  padding: 0;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
    visibility: hidden;
}

.jumbotron {
  margin-top: 3.1rem;
}

.navbar-default {
  box-shadow: 5px 7px 7px #dedbdb;
}

.block--center {
  margin: 0 auto;
}

.carousel--menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50rem;
}

.carousel--title, .carousel--brand, .carousel--dayList {
  display: inline-block;
  vertical-align: middle;
}

.carousel--title {
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,1);
  padding: 1.2rem 0.5rem;
  margin-right: -5px;
  margin-top: 8px;
  font-family: 'Geomanist-Regular', Verdana, Arial;
}

.carousel--brand {
  background: #fff;
  padding: .5rem 2rem;
}

.carousel--dayList {
  list-style: none;
  padding-left: 0;
  width: 10rem;
  margin-bottom: 0;
  height: 4rem;
  margin-left: -5px;
}


.carousel--dayList li {
  display: inline-block;
  margin: 4px -5px;
  padding: 0;
  height: 4rem;
  width: 3.2rem;
}

.carousel--dayList li:first-child {
  margin-top: -1px
}

.carousel--dayList li a {
  transform: rotate(270deg);
  text-align: center;
  display: block;
  vertical-align: middle;
  background: rgba(255,255,255,1);
  padding: 0.7rem 0;
  color: rgba(255,255,255,1);
  height: 3.2rem;
  width: 4rem;
  text-decoration: none;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.carousel--dayList li a:hover {
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.carousel--dayList li:first-child a {
  background: rgba(8, 181, 138, 1);
  position: relative;
  left: 0px;
  top: -1px;
}

.carousel--dayList li:first-child a:hover {
  background: rgba(8, 161, 123, 1);
}

.carousel--dayList li:nth-child(2) a {
  background: rgba(238, 141, 10,1);
}

.carousel--dayList li:nth-child(2) a:hover {
  background: rgba(216, 128, 9,1);
}

.carousel--dayList li:last-child a {
  background: rgba(180, 23, 172,1);
}

.carousel--dayList li:last-child a:hover {
  background: rgba(142, 17, 136,1);
}

.thumbnail {
  border: 0;
  border-radius: 0;
  padding: 1rem;
}

.thumbnail p {
  font-size: .8rem;
  padding: 0 4rem;
}

h3.thumbnail--title {
  color: #b81aa6;
}

.slogan {
  padding: 2rem 0;
}

.slogan--title {
  font-family: 'Geomanist-Regular', Verdana, Arial;
  padding: 1rem 0;
}

.divider {
  height: 1rem;
}

.bonus--section {
  position: relative;
  height: 479px;
}

.bonus--description__bronze,
.bonus--description__car {
  display: block;
  height: 26rem;
  background: url(../img/fondo1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 3rem;
}

.bonus--description__car {
  background: url(../img/fondo2.jpg);
  background-size: cover;
  background-position: center center;
}

.bonus--description__hidden {
  visibility: hidden;
  padding: 3rem 7rem;
  color: #fff;
  height: 26rem;
  position: absolute;
  z-index: 2;
  top: 0;
  transition: all .6s ease-in-out;
}

.bonus--description__title {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem 0;
  color: #f28c31;
}

.bonus--list {
  list-style: none;
  padding-left: 0;
}

.bonus--list li {
  font-family: 'Geomanist-Regular', Arial, Verdana;
  font-size: .8rem;
  padding: .5rem 0;
}

.bonus--list li:last-child {
  padding-top: 1rem;
  font-size: .7rem;
}

.bonus--subtitle {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.video--description {
  color: #00b28b;
  padding: 2rem 0;
}

.materials--list {
  padding: 2rem 0;
  margin: 2rem auto;
}

.materials--description {
  padding: 2rem 8rem;
}

.materials--btnDownload {
  border: 2px solid #b81aa6;
  border-radius: 4px;
  color: #b81aa6;
  background: #fff;
  padding: 0.5rem 2rem;
  display: inline-block;
  vertical-align: middle;
  width: 12%;
  margin: 0 2%;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;s
}

.materials--btnDownload:hover {
  background: #b81aa6;
  color: #fff;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
  text-decoration: none;
}

.owl-nav {
  display: none;
}

.slogan img {
  width: 14rem;
}