.square {
    height: 3px;
    background: #0a5a79;
    cursor: crosshair;
    width: 20%;
    margin: 0 auto;
}

.cursor {
	display: block;
    width: 8rem;
    text-align: center;
    padding: 2.5rem;
    background: #0a5a79;
    text-decoration: none;
    color: white;
    margin: 13px auto;
}

.cursor:hover {
    background: #063a4e;
}

.cursor:active {
	background: #ff0000;
}

input[type="text"]:focus {
	background: #063a4e;
	color: #fff;
}

