@font-face {
  font-family: 'gandhi';
  src: url('../fonts/GandhiSans-Regular-webfontt.eot');
  src: url('../fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GandhiSans-Regular-webfont.woff2') format('woff2'),
       url('../fonts/GandhiSans-Regular-webfont.woff') format('woff'),
       url('../fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/GandhiSans-Regular-webfont.svg#gandhi') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html, main {
  font-family: 'gandhi', Arial, Verdana;
  font-weight: normal;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0; 
  margin: 0; 
  padding: 0;
}

h1, 
h2 {
  text-align: center;
  width: 50%;
  position: absolute;
  text-transform: uppercase;
  top: 52%;
  left: 25%;
}

h2 {
  top: 80%;
  font-size: 1.3em;
}
a.navbar-brand {
  display: block;
  background-image: url('../img/back-logo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 58%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
}

.navbar-brand > img {
  width: 400px;
  height: auto;
  position: relative;
  /* top: -30px; */
  left: 0;
  margin-top: -26px;
}

/* Welcome Section */
section.welcome {
margin-top: 50px;
height: 100%;
width: 100%;
}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/1.jpg");
  background-size: 100% 100%; 
}

.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/4.jpg");
  background-size: 100% 100%; 
}


/* Company Section */
.company {
  background: #D6E0C1;
}

.company-product > img{
  width: 100%;
  margin: 68px 0 0 0;
}

.company-advertisement {
  margin: 68px 0;
  background: #444;
  color: #fff;
  text-align: center;
  padding: 2em 0;
  font-size: 1.4em;
}

h3.company-product-title {
  margin: 68px 0 0 0;
  text-transform: uppercase;
  /*font-size: 300%;*/
  color: #363A31;
  font-weight: bold;
  width: 90%;
  line-height: 1.3;
}

.company-product-description {
  width: 100%;
  color: #363A31;
  /*font-size: 190%;*/
  margin-top: 7%;
}


/* Testimonials */
h3.testimonials-title {
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  top: 20%;
  color: #363A31;
  font-weight: bold;
  left: 25%;
  margin: 0 auto;
}

p.testimonials-description {
  top: 80%;
  font-size: 1.3em;
  text-align: center;
  color: #363A31;
}

section.testimonials {
  width: 100%;
  height: 100%;
}

/* Leaf */
.leaf > img {
  position: absolute;
  width: 100%;
  top: 292%;
  left: -86px;
  z-index: 3;
}

/* News */
.news {
  background: #D6E0C1;
}

a.news-enter-01 {
  margin-left: 35%;
}

a.news-enter {
  display: block;
  background: #3C3A39;
  color: #fff;
  width: 30%;
  padding: 20px 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: -12%;
  margin-left: 37%;
}

a.news-enter:hover {
  text-decoration: none;
}

.news-image > img {
  width: 100%;
  height: auto;
}

article.col-md-6.news-image-01 {
  margin-right: -90px;
}

article.col-md-6.news-image-02 {
  margin-left: -90px;
}

.news-image-01 > img {
  margin-right: 10px;
  width: 100%;
}

.news-image-02 > img {
  margin-left: 10px;
  width: 100%;
}
/* Responsive */

@media screen and (max-width: 2000px) {
  body {
    background: red;
  }
}


@media screen and (max-width: 1600px) {
  body {
    background: blue;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background: green;
  }
}


@media screen and (max-width: 1024px) {
  body {
    background: cyan;
  }
}


@media screen and (max-width: 960px) {
  body {
    background: pink;
  }

  h1 {
    width: 88%;
    left: 6%;
    top: 20%;
  }

  h2 {
    width: 84%;
    left: 7%;
    top: 48%;
  }
 .cd-fixed-bg.cd-bg-1 {
    background-position: 0 -130px;
    background-size: 100% 100%;
    min-height: 80%;
 }
}


@media screen and (max-width: 600px) {
  body {
    background: yellow;
  }
}

@media screen and (max-width: 480px) {
  body {
    background: magenta;
  }
}

@media screen and (max-width: 320px) {
  body {
    background: gray;
  }
}
