
@font-face {
  font-family: 'gandhi';
  src: url('../fonts/gandhiserif-regular-webfont.eot');
  src: url('../fonts/gandhiserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gandhiserif-regular-webfont.woff2') format('woff2'),
       url('../fonts/gandhiserif-regular-webfont.woff') format('woff'),
       url('../fonts/gandhiserif-regular-webfont.ttf') format('truetype'),
       url('../fonts/gandhiserif-regular-webfont.svg#gandhi') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html, main {
  font-family: 'gandhi', Arial, Verdana;
  font-weight: normal;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0; 
  margin: 0; 
  padding: 0;
}

.container {
  width: 100%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  width: 50%;
  margin: 0px auto;
  font-weight: bold;
  position: absolute;
  font-size: 315%;
  /* top: 150px; */
  left: 25%;
  top: 43%;
}

h2 {
  width: 46%;
  text-transform: uppercase;
  text-align: center;
  margin: 0px auto;
  color: #444;
  font-size: 1.2em;
  position: absolute;
  left: 27%;
  font-size: 152%;
  top: 62%;
}

img.navbar-logo {
  position: relative;
  top: -81%;
  width: 58%;
  left: -17px;
  height: 126px;
}

.second-image > img{
  width: 100%;
  margin: 68px 0 0 0;
}

li {
  margin-top: 0px;
  padding: 9px 0;
}

.navbar-default .navbar-nav>li>a {
  color: #444;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #D0D61B;
  font-weight: bold;
}

ul.nav.navbar-nav.navbar-right {
  margin-right: 15px;
}

.navbar-nav>li>a {
  padding-top: 0;
  padding-bottom: 30px;
}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/1.jpg");
  margin-top: -21px;
  background-position: 0 10px;
  background-size: 100% 100%;
}

.program {
  margin: 68px 0;
  background: #444;
  color: #fff;
  text-align: center;
  padding: 2em 0;
  font-size: 1.4em;
}

h3.program-text {
  margin: 68px 0 0 0;
  text-transform: uppercase;
  font-size: 300%;
  color: #4E4D4D;
  font-weight: bold;
  width: 90%;
  line-height: 1.3;
}

.program-description {
  width: 100%;
  font-size: 190%;
  margin-top: 7%;
}

.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/4.jpg");
  margin-top: -21px;
  background-position: 0 10px;
  background-size: 100% 100%;
}

.restroom-title {
  width: 50%;
  color: #222;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 2em;
}

.restroom-description {
  text-transform: uppercase;
  color: #444;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 4em;
  font-size: 1.3em;
}

@media screen and (max-width: 2000px) {
  body {
    background: red;
  }
}


@media screen and (max-width: 1600px) {
  body {
    background: blue;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background: green;
  }
}


@media screen and (max-width: 1024px) {
  body {
    background: cyan;
  }
}


@media screen and (max-width: 960px) {
  body {
    background: pink;
  }

  h1 {
    width: 88%;
    left: 6%;
    top: 20%;
  }

  h2 {
    width: 84%;
    left: 7%;
    top: 48%;
  }
 .cd-fixed-bg.cd-bg-1 {
    background-position: 0 -130px;
    background-size: 100% 100%;
    min-height: 80%;
 }
}


@media screen and (max-width: 600px) {
  body {
    background: yellow;
  }
}

@media screen and (max-width: 480px) {
  body {
    background: magenta;
  }
}

@media screen and (max-width: 320px) {
  body {
    background: gray;
  }
}






