@media screen and (max-width: 1200px) {
	h2 { width: 75%; }
	.menu li { margin-right: 0.8em; }
}

@media screen and (max-width: 1024px) {
	h2 { width: 60%; font-size: 2.5em; }
	.menu,.social { width: 45%; }
	.projects-list figure { width: 34%; }
	.slogan { margin: 13em auto 0 auto;}
}

@media screen and (max-width: 768px) {
	h1 { width: 34%; }
	h2 { width: 75%; }
	.info p { width: 80%; }
	.menu { width: 50%; }
	.menu li { margin-left: 3em; }
}

@media screen and (max-width: 600px) {
	h1 { width: 83%%; text-align: left; }
	h2 { width: 93%; }
	.menu, .social { display: none; visibility: hidden; }
	.menu { display: block; opacity: 1; }
	.mobile { 
		position: absolute; 
		top: 1.3em; 
		right: 0.5em; 
		width: 14%; 
		opacity: 0;
		height: 50%; 
		z-index: 4;
	}
	#menu-list { display: block; height: 4em; width: 4em; }
	.projects-list figure { width: 80%; }
	.slogan { margin: 5em auto 0 auto;}
}

@media screen and (max-width: 480px) {
	h1 { width: 90%; }
	h2 { width: 80%; }
	.arrow-down { left: 40%; }
	.info p { font-size: 1.05em; }
	.mobile { right: 1em; }
	.projects-list figure { width: 76%; }
	.contact { font-size: 1.1em; }
	.contact p { width: 80%; margin: 0 auto; }
	.contact a { font-size: 1.4em; }
}
