!!!5
%html{class:"no-js", lang:"es"}
  %head 
    %meta{charset:"utf-8"}
    %title Angelis
    %meta{name:"description", content:""}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"vendor/bootstrap/css/bootstrap.min.css"}
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"css/main.min.css"}
    %script{src:"js/vendor/modernizr-2.8.3.min.js"}
  %body 
    ="<!--[if lt IE 10]>"
    %p{class:"browserupgrade"}
      Estás usando un navegador 
      %strong desactualizado.
      Por favor
      %a{href:"http://browserhappy.com/"}
        actualiza tu navegador para una mejor experiencia.
    ="<! [endif]-->"
    