.container-power {
	background: url('../images/jpg/8.jpg');
	width: 100%;
	height: 3708px;
}

.btn-docs > img {
	width: 278px;
	height: auto;
}
a.btn-docs {
	position: absolute;
	top: 94px;
	right: 251px;
	display: block;
	width: 100px;
	height: 100px;
}

.power-screen-bg {
	border: 3px solid black;
	height: 400px;
	width: 92%;
	top: 184px;
	margin-bottom: 323px;
	left: 43px;
	position: absolute;
}

.img-screen {
	width: 318px;
	position: relative;
	top: 63px;
	left: -21px;
}

.img-power {
	top: 129px;
	position: relative;
	left: 15%;
	width: 600px;
}

.message-yellow {
	background: #D1D727;
	position: relative;
	top: 539px;
}

.power-screen-bg {
	border: 3px solid black;
	height: 565px;
	width: 92%;
	top: 184px;
	/* margin-bottom: 347px; */
	left: 43px;
	position: absolute;
	z-index: 2;
}

.row.asd-screen {
	margin-top: 634px;
}

.asp-img {
	width: 307px;
	text-align: center;
	margin: 24px auto 0 auto;
}

ul.asp-list {
	margin-top: 23px;
	text-align: center;
	list-style: none;
	font-size: 16.48pt;
	margin-left: -99px;
}

h2.text-center.asd-title {
	margin: 28px auto;
	font-size: 41px;
	width: 64%;
	font-weight: bold;
}

.asd-title > span {
	color: #D1D727;
}

.bristle {
	background: rgba(0,0,0,0.1);
	width: 95%;
	margin: 0 auto 43px auto;
	margin-left: 20px;
	padding: 48px 15px;
	font-size: 32px;
}

.bristle-list {
	font-size: 20px;
}

.bristle-img {
	width: 550px;
	height: auto;
}

.eckos-innovation {
	margin-top: 110px;
}

.eckos-innovation > p {
	margin: 0 0 -4px !important;
}

.features-title {
	background: #D1D727;
	margin: 0 auto;
	width: 95%;
	margin-left: 20px;
	font-weight: bold;
	padding: 15px 0;
	font-size: 38px;
	margin-bottom: 40px;
}

.features-list {
	list-style: none;
}




