@font-face {
  font-family: 'gandhi';
  src: url('../fonts/GandhiSans-Regular-webfontt.eot');
  src: url('../fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GandhiSans-Regular-webfont.woff2') format('woff2'),
       url('../fonts/GandhiSans-Regular-webfont.woff') format('woff'),
       url('../fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/GandhiSans-Regular-webfont.svg#gandhi') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'gandhi', Arial, Verdana;
  font-size: 16px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0; 
  margin: 0; 
  padding: 0;
}

/*h1, 
h2 {
  text-align: center;
  width: 46%;
  position: absolute;
  text-transform: uppercase;
  top: 43%;
  left: 25%;
}
.nav.navbar-nav.navbar-right { margin-right: 2em; }
.welcome-section {
  background-image: url('../img/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1250px;
  margin-top: 94px;
  width: 100%;
  max-width: 100%;
}
.welcome-title { text-align: center; width: 46%; text-transform: uppercase; }
/*h2 {
  top: 68%;
  font-size: 42px;
  color: #6c6b6c;
}*/

li {
  margin-left: 1em;
}

.navbar.navbar-default.navbar-fixed-top {
  padding: 22px 0;
}

.welcome-section {
  background-image: url('../img/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 568px;
  margin-top: 94px;
  width: 100%;
  max-width: 100%;
}

.welcome-title { 
  text-align: center; 
  width: 50%; 
  text-transform: uppercase; 
  margin: 0 auto;
  margin-top: 190px;
}

.welcome-subtitle {
  font-size: 1.75em;
  color: #6c6b6c;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  width: 46%;
}

.navbar-default .navbar-nav>li>a {
  font-size: 2em;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #D0D61B;
}

.nav.navbar-nav.navbar-right {
  margin-right: 2em;
}

.navbar-header {
  background-image: url('../img/back-logo.png');
  background-size: cover;
  height: 101%;
  width: 43%;
  padding: 10px;
  position: absolute;
  left: -27px;
  top: 0px;
}

.brand > img {
  width: 370px;
  height: auto;
  position: relative;
  top: 3px;
  left: 61px;
}

a.navbar-brand {
  display: block;
  background-image: url('../img/back-logo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
}

.navbar-brand > img {
  width: 800px;
  height: auto;
  position: relative;
  /* top: -30px; */
  left: 0;
  margin-top: -23px;
}

/* Welcome Section */
section.welcome {
  margin-top: 50px;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.cd-fixed-bg {
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/1.jpg");
  background-position: top center;
  height: 100%;
}

.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/2.jpg");
  background-position: top center;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  
}

.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/9.jpg");
  background-position: 0 -58%;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  background-size: cover;

}


.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/10.jpg");
  background-size: cover;
  background-position: top center;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}


/* Company Section */
.company {
  background: #D6E0C1;
}

.company-product > img{
  width: 100%;
  max-height: 100%;
  margin: 68px 0 0 0;
}



h3.company-product-title {
  margin: 68px 0 0 0;
  text-transform: uppercase;
  font-size: 37px;
  color: #363A31;
  font-weight: bold;
  width: 70%;
  line-height: 1.3;
  margin-left: 3%;
}

.company-product-description {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 0;
}

.company-advertisement > a{
  margin: 20px auto;
  background: #444;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 3.4em;
  top: 80px;
  display: block;
  width: 100%;
  left: 28%;
}


.company-advertisement > a:hover {
  text-decoration: none;
}

/* Testimonials */
h3.testimonials-title,
h3.waterless-title {
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  top: 19%;
  color: #363A31;
  font-weight: bold;
  left: 25%;
  font-size: 60px;
  margin: 0 auto;
}

h3.testimonials-title {
  margin-top: 166px;
}

p.testimonials-description {
  top: 1%;
  position: relative;
  font-size: 42px;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #6c6b6c;
}

section.testimonials {
  width: 100%;
  height: 600px;
  overflow: hidden;
  max-width: 100%;
}

/* Leaf */
.leaf > img {
  position: absolute;
  width: 100%;
  top: 227%;
  left: -109px;
  z-index: 3;
}

/* News */
.news {
  background: #D6E0C1;
  width: 100%;
  /*height: 1900px;*/
  height: 950px;
}

a.news-enter-01 {
  margin-left: 35%;
}

a.news-enter {
  display: block;
  background: #3C3A39;
  color: #fff;
  width: 30%;
  padding: 20px 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: -12%;
  margin-left: 37%;
}

a.news-enter:hover {
  text-decoration: none;
}

.news-image > img {
  width: 100%;
  height: auto;
}

article.col-md-6.news-image-01 {
  margin-right: -90px;
}

article.col-md-6.news-image-02 {
  margin-left: -90px;
}

.news-image-01 > img {
  margin-right: 10px;
  width: 100%;
}

.news-image-02 > img {
  margin-left: 10px;
  width: 100%;
}


/* Advertisement */
.advertisement {
  background: #c8d309;
  width: 100%;
}

.advertisement > p {
  width: 100%;
  text-align: center; 
  padding: 23px 0;
  margin-bottom: -1px;
  font-style: italic;
  font-size: 22px;
  line-height: 0.2;
}


/* Waterless */
.waterless {
  width: 100%;
  /*height: 100%;*/
  height: 570px;
}

h3.waterless-title {
  margin-top: 25%;
  text-transform: none;
}

p.waterless-description {
  margin-top: 1%;
  margin-left: 36%;
  font-size: 38px;
  position: relative;
  color: #6c6b6c;
  text-transform: uppercase;
}


/* Tree */
.tree {
  width: 100%;
  /*height: 100%;*/
  height: 600px;
}

h3.tree-title {
  margin: 68px 0 0 0;
  text-transform: uppercase;
  font-size: 42px;
  color: #363A31;
  font-weight: bold;
  width: 70%;
  line-height: 1.3;
  margin-top: 19%;
  margin-left: 39.5%;
}

.tree-description {
  width: 18%;
  /*color: #363A31;
  font-size: 190%;*/
  font-size: 24px;
  margin-top: 1%;
  margin-left: 36.5%;
  color: #676866;
  text-transform: uppercase;
  text-align: center;
}


/* Container Z-Trap */
div.ztrap {
  /*height: 100%;*/
  height: 664px;
}

.row.z-trap-row {
  margin-top: 8%;
}

/* Footer */
 footer {
  background: #171515;
  height: 150px;
  width: 100%;
}

.footer-black > img {
  width: 250px;
  height: auto;
}

 .footer-black > a,
 .footer-black {
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  margin-top: 60px;
 }

.menu-parallax {
  background: url('../img/menu-fixed-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  width: 300px;
  height: 500px;
  border-radius: 3px;
  z-index: 10;
  color: #fff;
  top: 15%;
  left: 75%;
}

li.menu-parallax-options {
list-style: none;
/* margin-top: 127px; */
position: relative;
margin: 0px auto;
height: 60px;
top: 84px;
left: -30px;
width: 224px;
}

.menu-parallax-options > a {
  color: transparent;
  display: block;
  background: url('../img/sprite-menu.png');
  height: 60px;
  background-size: 400px;
  height: 57px;
  margin-left: 15px;
  background-size: 418px 165px;
  width: 209px;
  overflow: hidden;
}

li.menu-parallax-options:first-child > a:hover {
  background-position: 213px 2px;
}

.menu-parallax-options:nth-child(2) > a {
  background-position: 2px 106px;
}

.menu-parallax-options:nth-child(2) > a:hover {
  background-position: 213px -54px;
}

li.menu-parallax-options:last-child > a {
  background-position: -26px 221px;
  width: 203px;
  background-size: 477px 165px;
  margin-left: 19px;
}

li.menu-parallax-options:last-child > a:hover { 
  background-position: 213px 222px;
}

.advertisement-antisplash > img,
.advertisement-biodegradable > img {
  width: 200px;
  position: absolute;
  top: 435px;
  left: 39px;
}


.advertisement-biodegradable > img {
  /* left: 936px; */
  top: 1288px;
  width: 294px;
}

/*
.menu-parallax-options > a,
.menu-parallax-options > a:hover {
  color: #fff;
  text-decoration: none;
  padding: 4px 0;
}*/

/* Responsive */

@media screen and (max-width: 2000px) {
  body {
    background: red;
  }
}


@media screen and (max-width: 1600px) {
  body {
    background: #D6E0C1;
  }
    .navbar-default .navbar-nav>li>a {
    font-size: 1.2em;
  }

  .nav.navbar.navbar-default.navbar-fixed-top {
    padding: 22px 0;
    
  }

  .navbar-brand > img {
    width: 460px;
    height: auto;
    position: relative;
    left: 0;
    margin-top: 0px;
  }
  h1 {
    font-size: 45px;
  }
  h1, 
  h2 {
    width: 61%;
    top: 36%;
    left: 20%;
  }

  h2 {
    top: 47%;
    font-size: 22px;
    width: 60%;
  }

  h3.company-product-title {
    margin: 60px 0 0 0;
    font-size: 20px;
    width: 90%;
  }


  .company-product-description {
    font-size: 17px;
    /*margin-top: 15%;*/
    margin-top: 8%;
  }

  .company-advertisement > a {
    font-size: 1.5em;
  }

  h3.testimonials-title {
    margin-top: 166px;
  }


  h3.testimonials-title, 
  h3.waterless-title {
    font-size: 50px;
  }

  p.testimonials-description {
    font-size: 24px;
  }
  .leaf > img {
    top: 1480px;
  }
  .news {
    height: 1168px;
  }

  .advertisement > p {
    font-size: 16px;
  }
  .cd-fixed-bg.cd-bg-3 {
    /*background-position: 0% 26%;*/
    background-position: 0% -58%;
    background-size: 100%;
  }

  h3.waterless-title {
    font-size: 39px;
  }
  p.waterless-description {
    margin-top: 0;
    margin-left: 35%;
    font-size: 20px;
  }

  h3.tree-title {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 216px;
  }

  .tree-description {
    width: 32%;
    font-size: 20px;
    /* margin-left: 30.5%; */
    margin: 0 auto;
    text-align: center;
  }

}

@media screen and (max-width: 1200px) {
  body {
    background: green;
  }
}


@media screen and (max-width: 1024px) {
  body {
    background: cyan;
  }
}


@media screen and (max-width: 960px) {
  body {
    background: pink;
  }

  h1 {
    width: 88%;
    left: 6%;
    top: 20%;
  }

  h2 {
    width: 84%;
    left: 7%;
    top: 48%;
  }
 .cd-fixed-bg.cd-bg-1 {
    background-position: 0 -130px;
    background-size: 100% 100%;
    min-height: 80%;
 }
}


@media screen and (max-width: 600px) {
  body {
    background: yellow;
  }
}

@media screen and (max-width: 480px) {
  body {
    background: magenta;
  }
  .navbar-brand > img {
    width: 401px;
    left: -60px;
    margin-top: 12px;
  }

  a.navbar-brand {
    width: 77%;
  }

  .navbar-default .navbar-nav > li > a {
    color: #FFF;
  }

  h1 {
    font-size: 50px;
    left: 6%;
    top: 18%;
  }

  h2 {
    top: 45%;
    font-size: 26px;
  }

  .cd-fixed-bg.cd-bg-1 {
    background-position: top right;
  }
}

@media screen and (max-width: 320px) {
  body {
    background: gray;
  }
}