@font-face {
	font-family: 'Footlight MT';
	src: url('../fonts/FootlightMTLight.eot');
	src: url('../fonts/FootlightMTLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FootlightMTLight.woff2') format('woff2'),
		url('../fonts/FootlightMTLight.woff') format('woff'),
		url('../fonts/FootlightMTLight.ttf') format('truetype'),
		url('../fonts/FootlightMTLight.svg#FootlightMTLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueRegular.eot');
	src: url('../fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
		url('../fonts/HelveticaNeueRegular.woff') format('woff'),
		url('../fonts/HelveticaNeueRegular.ttf') format('truetype'),
		url('../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('../fonts/HelveticaNeueMedium.eot');
  src: url('../fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueMedium.woff') format('woff'),
    url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueLight.eot');
  src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLight.woff') format('woff'),
    url('../fonts/HelveticaNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  background: #fff;
  font-family: 'HelveticaNeueLight', Verdana, Arial;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

/* Navigation */

.navbar-brand {
	background: #051736;
	display: none;
}

.navbar-nav {
	height: 6rem;
}

.brand-container {
    width: 100%;
    background: #051736;
}

.brand {
	width: 100%;
	padding: 0.5rem 0;
    display: inline-block;
}

.brand > img {
    width: 24rem;
    margin: 0 auto;
}

.navbar-default {
    margin-bottom: 0;
    background: #fff;
    border: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: #fff;
} 

.navbar-default .navbar-nav > li > .navigation--item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    color: #193f8e;
    text-transform: uppercase;
    transition: all .5s ease-out;
}

.navbar-default .navbar-nav > li > .navigation--item:hover {
	color: #051736;
	transition: all .5s ease-in;
	cursor: pointer;
}

/* Icons */
.fa.fa-facebook,
.fa.fa-twitter,
.fa.fa-instagram,
.fa.fa-youtube {
	color: #051736;
	font-size: 3rem;
}

/* Titles */
.title {
	color: #5f615e;
	text-align: center;
	font-family: 'Footlight MT', Verdana, Arial;
	font-size: 6.5rem;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    height: 601px;
    width: 100%;
}

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Jumbotron */
.jumbotron--title,
.jumbotron--description {
	text-align: center;
	color: #fff;
}

.jumbotron--title {
	padding: 2rem 0;
}

p.jumbotron--description {
	width: 65%;
    margin: 0 auto;
    font-size: 1.7rem;
}

.jumbotron--content {
	position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-40%);
}

/* Services */
.services--item__container {
	border-right: 2px solid #fff;
	background: #eaedf2;
}

.services--description {
    text-align: center;
    width: 70%;
    margin: 0rem auto 3rem auto;
}

.services--item__title {
	background: #325082;
	color: #fff;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1rem;
}

.services--item {
	list-style: none;
	background: rgba(0,0,0,.8);
	line-height: 1.5;
	height: 27rem;
	padding: 2rem;
}

.services--item li {
	padding: .5rem 0;
}

/* Contact */
.layer-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(5,23,54,.6);
}

.contact--container {
	background: rgba(5,23,54,.9);
    background-image: url(../img/teatro.png);
    background-size: cover;
    height: 64rem;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-horizontal {
	background: rgba(5,23,54,1);
	margin: 3rem 0;
}

.form--title {
	color: #fff;
	padding: 2rem;
	text-align: center;
	font-size: 4.1rem;
}

textarea {
	width: 100%;
	background: #b9c4dc;
}

.form-control {
	border-radius: 0;
	background: #b9c4dc;
}

.btn.btn-default.btn-send {
    background: transparent;
    background: white;
    border: 0;
    /* text-decoration: underline; */
    color: #051736;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.form--description {
	color: #fff;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding: 0rem 0 2rem 0;
}

.form-horizontal .control-label {
	color: #fff;
}

/* Contact Info */
.contact--info {
	background: rgba(5,23,54,1);
	margin: 13rem 0;
	padding: 2rem 0 2rem 0;
}

.contact--info__title,
.contact--info__description {
	color: #fff;
    padding: 0 0 2rem 0;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

.footer--container {
    display: none;
    background: #051736;
    color: white;
    padding: 2rem 0 .5rem 0;
    margin-bottom: -1rem;
    padding-bottom: 0;
    background: rgba(5,23,54,.85);
    color: white;
    padding: 1.5rem 0 2.3rem 0;

}

.payment {
    margin-bottom: 0;
    font-size: 1.7rem;
    padding-top: 1rem;
    letter-spacing: 1px;
}

.cards {
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: .5rem;
}

.cards li {
    display: inline-block;
    vertical-align: middle;
}

.cards li > img {
    width: 45px;
}

.white-bar {
	display: block !important;
}

.img-title {
    margin: 0 auto;
    padding: 0 0 3rem 0;
}

.contact--info__list {
	width: 80%;
	margin: 0 auto;
}

.contact--info__list li {
	color: #fff;
	padding: 0 1rem;
	display: inline-block;
	vertical-align: middle;
	width: 58%;
    font-size: 1.6rem;
    text-align: center;
}

.contact--info__list li:last-child {
	width: 40%;
}

.social--container {
	background: #9a3432;
	margin: 3rem 0;
	width: 80%;
	margin: 3rem auto;
	padding: .5rem 0;
}

.social--container li a i.fa {
	color: #fff;
}

.social--container li {
    display: inline-block;
    vertical-align: middle;
    width: 24%;
    text-align: center;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.item-grid {
	height: 200px;
}

.voices,
.saxo,
.mega,
.tromp,
.focus,
.flaut,
.violin,
.opera,
.team {
	background: url('../img/voces.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	border: 3px solid #fff;
}

.tromp {
	background: url('../img/trompetas.png');
	background-size: cover;
}

.saxo {
	background: url('../img/violines.png');
	background-size: cover;
}


.mega {
	background: url('../img/megalofono.png');
	background-size: cover;
}

.focus {
	background: url('../img/foco.png');
	background-size: cover;
}

.flaut {
	background: url('../img/flauta.png');
	background-size: cover;
	background-position: center center;
}

.violin {
	background: url('../img/violin.png');
	background-size: cover;
}

.team {
	background: url('../img/conjunto.png');
	background-size: cover;
}


.opera {
	background: url('../img/voces-2.png');
	background-size: cover;
	background-position: center center;
}

.scroll_to_down {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    top: 70%;
    z-index: 99999;
}
.scroll_to_down a {
  background: rgba(250, 250, 250, 0.3);
  border-radius: 50%;
  display: block;
  height: 90px;
  width: 90px;
  color: #fff;
  margin: 3% auto 0 auto;
  position: relative;
  cursor: pointer;
}

.fa-angle-down {
    /* margin-top: 3.3em !important; */
    margin-top: 29%;
    font-size: 3em;
    color: rgba(250, 250, 250, 0.6);
    margin: 0 auto;
    position: absolute;
    left: 35%;
    top: 3rem;
    /* margin: 0 auto; */
}


.btn {
  border-radius: 0;
  padding: 10px 15px;
  border: 2px solid #666666;
  background: transparent;
  font-weight: 700;
  font-family: 'HelveticaNeue', sans-serif;
  color: #333333;
  text-decoration: none;
  font-size: 15px;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.panel-heading.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content:"\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    position: relative;
    bottom: -18px;
    font-size: 15pt;
    /* adjust as needed */
    color: #fff;
    /* adjust as needed */
}
.panel-heading.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e080";
    /* adjust as needed, taken from bootstrap.css */
}
.panel-heading:hover {
    cursor: pointer;
}
.panel-heading:hover h4 {
    text-decoration: none;
}

.panel-default>.panel-heading.package-title1,
.panel-default>.panel-heading.package-title2,
.panel-default>.panel-heading.package-title3,
.panel-default>.panel-heading.package-title4,
.panel-default>.panel-heading.package-title5 {
	background-color: #051736;
  background-image: url(../img/products/paquete1.png);
  color: #fff;
  background-repeat: no-repeat;
  height: 8rem;
}

.panel-default>.panel-heading.package-title2 {
  background-image: url(../img/products/paquete2.png);
  background-repeat: no-repeat;
}

.panel-default>.panel-heading.package-title3 {
  background-image: url(../img/products/paquete3.png);
  background-repeat: no-repeat;
}

.panel-default>.panel-heading.package-title4 {
  background-image: url(../img/products/paquete4.png);
  background-repeat: no-repeat;
}

.panel-default>.panel-heading.package-title5 {
  background-image: url(../img/products/paquete5.png);
  background-repeat: no-repeat;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body.package-content1,
.panel-default > .panel-heading + .panel-collapse > .panel-body.package-content2,
.panel-default > .panel-heading + .panel-collapse > .panel-body.package-content3,
.panel-default > .panel-heading + .panel-collapse > .panel-body.package-content4,
.panel-default > .panel-heading + .panel-collapse > .panel-body.package-content5 {
	background-color: #051736;
  background-image: url(../img/products/paquete1.png);
  color: #fff;
  background-repeat: no-repeat;
  background-size: initial;
  height: 34rem;
  background-position: 0 -79px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body.package-content2 {
  background-image: url(../img/products/paquete2.png);
  background-repeat: no-repeat;
  height: 34rem;
  background-position: 0 -79px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body.package-content3 {
  background-image: url(../img/products/paquete3.png);
  background-repeat: no-repeat;
  height: 34rem;
  background-position: 0 -79px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body.package-content4 {
  background-image: url(../img/products/paquete4.png);
  background-repeat: no-repeat;
  height: 34rem;
  background-position: 0 -79px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body.package-content5 {
  background-image: url(../img/products/paquete5.png);
  background-repeat: no-repeat;
  height: 34rem;
  background-position: 0 -79px;
}

.container {
  position: relative
}

.background-video {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

video,
source {
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.loaded .ytplayer-container {
  display: block;
}

.loaded .placeholder-image {
  opacity: 0;
}

.ytplayer-container {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.placeholder-image {
  height: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ytplayer-player {
  position: absolute;
}

.container {
  border-radius: 6px;
  padding: 0 30px 0 30px;
  margin: 30px auto;
}

#video{
 position: relative;
 background: rgba(9, 34, 105, 0.32);
 height: 100vh;
}

.ytplayer-container{
 position: absolute;
 top: 0;
 z-index: -1;
}


@media all and (min-width: 320px) and (max-width: 480px) {
	.grid-item {  
		width: 100%;
	}
	.grid-item img {
		width: 100%;
	}
	.grid {
		width: 100%;
	}
}