@font-face {
  font-family: 'gandhi';
  src: url('../fonts/GandhiSans-Regular-webfontt.eot');
  src: url('../fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GandhiSans-Regular-webfont.woff2') format('woff2'),
       url('../fonts/GandhiSans-Regular-webfont.woff') format('woff'),
       url('../fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/GandhiSans-Regular-webfont.svg#gandhi') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  font-family: 'gandhi', Arial, Verdana;
  font-size: 16px;
  height: 100%;
  background: #D6E0C1;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0; 
  margin: 0; 
  padding: 0;
}

h1 {
	margin: 0;
}

header {
	height: 52px;
	width: 100%;
	background: #f8f8f8;
	padding: 22px 0;
	border-color: #e7e7e7;
	position: fixed;
}

.wrapper {
	height: 100%;
	width: 1200px;
}

.brand-logo {
	width: 498px;
	height: auto;
	position: absolute;
	left: 231px;
}

.brand {
	background-image: url('../images/png/back-logo.png');
	background-size: 729px;
	background-repeat: no-repeat;
	width: 731px;
	padding: 10px;
	position: relative;
	left: -242px;
	top: -22px;
	height: 91px;
}

.navbar ul {
	list-style: none;
	position: absolute;
	left: 471px;
	top: 15px;
}

.navbar li {
	float: left;
	margin-left: 37px;
	vertical-align: middle;
}

.navbar li > a {
	text-decoration: none;
	font-size: 12.31pt;
	color: #000;
}

.navbar li > a:hover {
	color: #D0D61B;
}

.view-cart {
	display: block;
	background-image: url('../images/png/view-cart.png');
	background-repeat: no-repeat;
	position: absolute;
	/* height: 58px; */
	padding: 12px 40px;
	font-size: 13.47pt;
	right: 0;
	text-decoration: none;
	top: 0;
	width: 124px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	background-position: 100%;
	background-size: 100%;
}

