/* 
 * Table of Contents: 
 *
 * 
 * 1. Inits
 * 2. Home Page
 * 3. Menu
 * 4. About
 * 5. Resume 
 * 6. Portfolio
 * 7. Contact
*/

/*
====================================================
      1. Inits
====================================================
*/

body {
  font-family: 'Roboto', Arial, Verdana;
  font-size: 16px;
  text-align: center;
  color: #333;
  background: #fff;
}

a,
a:hover,
a:active {
  display: inline-block;
  color: #333;
}

input:focus, 
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.clear {
  clear: both;
}

#wrapper {
  opacity: 0;
}


i.fa.fa-book.color, 
i.fa.fa-suitcase.color, 
i.fa.fa-bolt.color {
  color: #00b4ff;
  border-bottom: 3px solid #00b4ff;
  font-size: 2em;
}
/*
=====================================================
      2. Home Page
=====================================================
*/

.header {
  margin-top: 12%;
}

.user_picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.jumbotron {
  background: url(https://images.unsplash.com/photo-1521235384907-1ae821802c8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: #dfdce1;
  height: 800px;
  margin-bottom: 0;
  width: 100vw;
  height: 100vh;
}

.jumbotron h1 {
  font-size: 3em;
  color: #333;
  font-weight: 100;
}

.jumbotron p {
  font-size: 1.1em;
  color: #333;
}


/*
=========================================================
      8. Responsive 
=========================================================
*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}